body {
  padding: 40px;
  border: 15px double #85a8c7;
  background: #f2f2f2;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.page-title {
  color: #4d4d4d;
  margin-bottom: 0;
}
#top-image {
  border: 5px double #85a8c7;
  padding: 6px;
  border-radius: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}
h1 {
  font-family: Girassol;
  color: #4d4d4d;
  margin-bottom: 10%;
}
h4 {
  color: #85a8c7;
  font-family: Girassol;
  font-size: larger;
  margin-bottom: 1rem;
}
h5 {
  font-family: Petit Formal Script;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.col-md {
  border: 8px double silver;
  border-radius: 3px;
  padding: 15px;
}
#blue-here {
    border-bottom: 8px double #85a8c7;
    border-left: 8px double #85a8c7; 
    border-top: 8px double #4d4d4d;
    border-right: 8px double #4d4d4d;
}
#kngarly {
    border-bottom: 8px double #4d4d4d;
    border-left: 8px double #4d4d4d; 
    border-top: 8px double #85a8c7;
    border-right: 8px double #85a8c7;
}
#blank {
  border: none;
}
.btn {
  width: 100%;
  background: #85a8c7;
  color: #f2f2f2;
}
.data {
    font-size: 11px;
    font-family: Petit Formal Script;
    background-color: #ffffff;
}
.box-titles {
    font-family: Petit Formal Script;
    font-size: 13px;
    text-align: center;
}
table {
    border-bottom: 2px double #4d4d4d;
    border-left: 2px double #4d4d4d; 
    border-top: 2px double #85a8c7;
    border-right: 2px double #85a8c7;
}
.form-group {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px double #85a8c7;
    border-left: 2px double #85a8c7; 
    border-top: 2px double #4d4d4d;
    border-right: 2px double #4d4d4d;
    padding: 10px;
}