

.section-1 {
	width: 100%;
}

.clear-floats {
	clear: both;
}

p {
	margin-bottom: 5px;
}

h2 {
	text-align: center;
}

#title {
	font-size: 40px;
	color: 	#202020;
	font-weight: bold;
	text-align: center;
}

#subtitle {
	font-size: 24;
	color: #202020;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	margin-bottom: 40px;
}

#topImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	align-content: center;
	padding: 20px, 20px;
	border: royalblue;
	border-style: solid;
	border-width: 100%;
	box-sizing: border-box;

}

.container {
    width:80%;
	margin:auto;
	overflow:hidden;
}

body {
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.showcase {
	border: #202020;
	border-width: 3px;
	border-style: solid;
	padding: 20px;
	box-sizing: border-box;
}

body > div.container > section:nth-child(2) > div{
	border: #202020;
	border-width: 3px;
	border-style: solid;
	box-sizing: border-box;
	width: 1fr, 40px, 1fr;
}



.whole-box-left {
	float: left;
	border: #202020;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	box-sizing: border-box;
}

.whole-box-right {
	float: right;
	border: #202020;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	box-sizing: border-box;
}
